<h1>
    Angular Template Lesson
</h1>

<h2>
    Interpolation - one way transfer data from component to template
</h2>

<p>
    {{ 1 + 1 }}
</p>

<p>
    {{ stamNumber }}
</p>

<p>
    {{ sayHello() }}
</p>

<p>
    {{ stamNumber + 10 }}
</p>


<p class="{{createJbClass()}}">
    custom class created from instance
</p>

<h2>
    [] - one way transfer data from component template
</h2>

<p [innerText]="sayHello()" >

</p>

<!-- <input type="text" value="{{stamNumber}}" /> -->
<input type="text" [value]="stamNumber" />

<h2>
    Direction from template to class
</h2>

<p>
    () - binds events to class
</p>

<button (click)="stamNumber = stamNumber + 1" >
    click me
</button>
<br/>
<input type="text" name="moveToClass" (input)="viewEvent($event)"  />
<!-- <input type="text" name="moveToClass" (input)="textInput = $event.target.value; stamNumber = textInput.length"  /> -->
{{textInput}}


<h2>
    Two way binding
</h2>

<p>
    [] - one way from class to template
</p>
<p>
    () - from template to class
</p>
<p>
    two way binding
</p>

<input type="text" [value]="twoWayBinding1" (input)="changeTwoWayBinding1($event.target.value)">
<input type="text" [value]="twoWayBinding1" (input)="twoWayBinding1 = $event.target.value">
{{twoWayBinding1}}

<h2>
    ngModel
</h2>

<p>
    [(ngModel)]="somePublicVar"
</p>

<input type="text" [(ngModel)]="stamNumber" />
<input type="text" [value]="stamNumber" (input)="stamNumber = $event.target.value">

<h2>
    Communication Parent child component
</h2>

<jb-child [messageFromParent]="stamNumber + 55" [message]="transferToChild"></jb-child>

<h2>
    event from child to parent
</h2>

<jb-child #jbChildInstance [message]="'bind to event'" (visibility)="popWhenToggleVisibility($event)" ></jb-child>

<h2>
    Template refrence variable
    {{ instanceParagraph.className }}
</h2>

<p #instanceParagraph class="hello world">
   I want to get this p dom element instance 
   {{ instanceParagraph.className }}
</p>

<p>
    we now have access through template refrence variable to the second jb-child
    <br/>
    to prove the isVisibility is: {{jbChildInstance.isVisible}}
</p>

<h2>
    Built in directives
</h2>

<h3>
    NgIf
</h3>

<p>
    <!-- <some-tag *ngIf="boolean expression"></some-tag> -->
</p>

<p *ngIf="jbChildInstance.isVisible">
    this will be visible only when the 2nd ChildComponent test is visible
</p>

<h3>
    NgForOf
</h3>

<ul>
    <li *ngFor="let item of groceries; index as i" >
        {{i}} {{item}}
    </li>
</ul>

<h3>
    NgSubmit
</h3>

<form (ngSubmit)="popAlert();">
    <button type="submit">Submit</button>
</form>

<h3>
    NgClass
</h3>


<p [ngClass]="cssClasses">
    the css classes here are dynamic and are set from a public property in AppComponent
</p>

<p [class.active]="true" [class.angular]="false">

</p>


<h2>
    Pipes
</h2>

<h3>
    Date pipe
</h3>

{{ dateValueFromClass | date:"dd/MM/yyyy" }} <br/>
{{ dateValueFromClass }}

<h3>
    Snake Pipe
</h3>

<p>
    {{ 'hello angular' | snake }}
</p>

<h2>
    Safe navigation operator
</h2>

<p>
    {{ canBeNullButUsuallyDict?.title }}
</p>